{% extends 'charity_donation/base.html' %}
{% load static %}
{% block headerclass %}{% endblock %}
{% block header %}
    <section class="login-page">
        <h2>Zapomniałeś hasła? Tutaj możesz je zresetować.</h2><br>
        <h1>Wprowadź poniżej swój adres e-mail </h1>
        {% if error_message %}<h2>{{ error_message }}</h2>{% endif %}
        <form method="post" action="" class="form--contact" style="
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;">
            {% csrf_token %}
            {{ password_reset_form.as_p }}
            <button type="submit" class="btn" name="reset_pass">Zresetuj hasło</button>
        </form>
    </section>

{% endblock %}