{% extends 'charity_donation/base.html' %}
{% load static %}
{% block headerclass %}{% endblock %}
 {% block header %}
<section class="login-page" style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
      <h2>Podaj nowe hasło </h2>
    {% if error_message %}<h2>{{ error_message }}</h2>{% endif %}
      <form class="form--contact"  method="post" action="" style="display: flex; flex-direction: column;">
          {% csrf_token %}
          {{ form.as_p }}<br>
          <br><button type="submit" class="btn" name="reset_pass">Zresetuj hasło</button>
      </form>
    </section>

{% endblock %}