{% extends 'charity_donation/base.html' %}
{% load static %}
{% block headerclass %}class="header--form-page"{% endblock %}
{% block header %}
    <div class="slogan container container--90">
        <div class="slogan--item">
            <h1>
                Witaj {{ user }}<br/>
                <ul class="help--slides-items">
                    <li>Imię: {{ user.first_name }}</li>
                    <li>Nazwisko: {{ user.last_name }}</li>
                    <li>Email: {{ user.email }}</li>
                </ul><br>
            <div class="help--slides active">
                Lista darów które zostały przez Ciebie przekazane:
                <ul class="help--slides-items">
                    {% for donation in donations %}
                        <li>
                        <div class="col">
                            Ilość worków: {{ donation.quantity }}, organizacja: {{ donation.institution }},
                        kategorie: {{ donation.get_cat }}, data przekazania: {{ donation.pick_up_date }}
                        </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            </h1>
        </div>
    </div>
{% endblock %}